sphinx                        == 7.0.1
sphinx-copybutton             == 0.5.2
sphinx-rtd-theme              == 1.3.0
sphinxcontrib-applehelp       == 1.0.2
sphinxcontrib-devhelp         == 1.0.2
sphinxcontrib-htmlhelp        == 2.0.0
sphinxcontrib-jquery          == 4.1
sphinxcontrib-jsmath          == 1.0.1
sphinxcontrib-katex           == 0.9.6
sphinxcontrib-qthelp          == 1.0.3
sphinxcontrib-serializinghtml == 1.1.5
alabaster                     == 0.7.12
myst-parser                   == 2.0.0
